	// 蓝色
  $color-blue:#3c8cff;
  $color-background:#fafafa;
  // 字体加强颜色
  $color-font-active:#000;
  // 字体默认颜色
  $color-font-default:#333;
  // 灰色字体
  $tab-font-gray:#abafb8;
  $border-color:#d9d9d9;
  // 按钮点中颜色
  $but-active:#eaeaea;
  // 编辑底色
  $edit-color:#f5f5f5;